@font-face {
    font-family: iranSansEN;
    src: url(assets/fonts/IRANSans.ttf);
}

@font-face {
    font-family: iranSansFA;
    src: url(assets/fonts/IRANSansFa.ttf);
}

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: iranSansEN !important;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;


}

::-webkit-scrollbar-thumb {
    background-color: #888;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.iran-sans-en {
    font-family: iranSansEN !important;
}

.iran-sans-fa {
    font-family: iranSansFA !important;
}